
#include <mem.h> // Required due to missing include in <st/h5/stm32h562.dtsi>
#include <st/h5/stm32h562.dtsi>
#include <st/h5/stm32h562vgtx-pinctrl.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/ {
  model = "Perso CustomBoard (STM32)";
  compatible = "perso,customboard-stm32";

  #address-cells = <1>;
  #size-cells = <1>;

  chosen {
    zephyr,console = &usart6;
    zephyr,shell-uart = &usart6;
    zephyr,sram = &sram1;
    zephyr,flash = &flash0;
    zephyr,code-partition = &slot0_partition;
    zephyr,settings-partition = &storage_partition;
  };

  aliases {
    sw0 = &user_button;
    watchdog0 = &iwdg;
    led0 = &led_g;
  };

  leds: leds {
    compatible = "gpio-leds";
    led_g: led_1 {
      gpios = <&gpiod 7 GPIO_ACTIVE_LOW>;
      label = "LED Green";
    };
  };

  gpio_keys {
    compatible = "gpio-keys";
    user_button: button {
      label = "User";
      gpios = <&gpioe 5 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
      zephyr,code = <INPUT_KEY_0>;
    };
  };

  ext_memory: memory@90000000 {
    compatible = "zephyr,memory-region";
    reg = <0x90000000 DT_SIZE_M(8)>;
    zephyr,memory-region = "EXTMEM";
    /* The ATTR_MPU_EXTMEM attribut causing a MPU FAULT */
    zephyr,memory-attr = <( DT_MEM_ARM(ATTR_MPU_IO) )>;
  };

  soc {
    sram1: memory@20000000 {
      compatible = "zephyr,memory-region", "mmio-sram";
      reg = <0x20000000 DT_SIZE_K(256)>;
      zephyr,memory-region = "SRAM1";
    };

    sram2: memory@20040000 {
      compatible = "zephyr,memory-region", "mmio-sram";
      reg = <0x20040000 DT_SIZE_K(64)>;
      zephyr,memory-region = "SRAM2";
    };

    sram3: memory@20050000 {
      compatible = "zephyr,memory-region", "mmio-sram";
      reg = <0x20050000 DT_SIZE_K(320)>;
      zephyr,memory-region = "SRAM3";
    };

    backup_sram: memory@40036400 {
      reg = <0x40036400 DT_SIZE_K(4)>;
    };
  };
};

&clk_hse {
  clock-frequency = <DT_FREQ_M(25)>; /* 8MHz clock */
  hse-bypass;
  status = "okay";
};

&clk_hsi48 {
  status = "okay";
};

&clk_lse {
  status = "disabled";
};

&pll {
  div-m = <5>;
  mul-n = <96>;
  div-p = <2>;
  div-q = <2>;
  div-r = <2>;
  clocks = <&clk_hse>;
  status = "okay";
};

&rng {
  status = "okay";
};

&i2c1 {
  pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
  pinctrl-names = "default";
  status = "okay";
};

&rcc {
  clocks = <&pll>;
  clock-frequency = <DT_FREQ_M(240)>;
  ahb-prescaler = <1>;
  apb1-prescaler = <2>;
  apb2-prescaler = <1>;
  apb3-prescaler = <2>;
};

&usart6 {
  // LABEL: DEBUG / Logs
  pinctrl-0 = <&usart6_tx_pc6 &usart6_rx_pc7>;
  pinctrl-names = "default";
  current-speed = <460800>;
  status = "okay";
};

&xspi1 {
  pinctrl-0 = <&octospi1_io0_pb1 &octospi1_io1_pb0
         &octospi1_io2_pa7 &octospi1_io3_pa6
         &octospi1_clk_pb2 &octospi1_ncs_pb10>;
  pinctrl-names = "default";
  status = "okay";

  mx25r6435f: xspi-nor-flash@90000000 {
    compatible = "st,stm32-xspi-nor";
    reg = <0x90000000 DT_SIZE_M(8)>; /* 64 Mbits */
    ospi-max-frequency = <DT_FREQ_M(1)>;
    spi-bus-width = <XSPI_SPI_MODE>;
    data-rate = <XSPI_STR_TRANSFER>;
    status = "okay";

    partitions {
      compatible = "fixed-partitions";
      #address-cells = <1>;
      #size-cells = <1>;

      ext_storage_partition: partition@0 {
        label = "nor-zms";
        reg = <0x00000000 DT_SIZE_K(128)>;
      };
      // There is some place left here
      ext_dfu_partition: partition@400000 {
        label = "nor-dfu";
        reg = <0x00400000 DT_SIZE_M(4)>;
      };
    };
  };
};

&rtc {
  clocks = <&rcc STM32_CLOCK_BUS_APB3 0x00200000>,
     <&rcc STM32_SRC_LSE RTC_SEL(1)>;
  status = "okay";
};

&iwdg {
  status = "okay";
};

&gpdma1 {
  status = "okay";
};

&gpdma2 {
  status = "okay";
};

&flash0 {
  reg = <0x08000000 DT_SIZE_M(1)>;

  partitions {
    compatible = "fixed-partitions";
    #address-cells = <1>;
    #size-cells = <1>;

    // Bank 1
    boot_partition: partition@0 {
      label = "mcuboot";
      reg = <0x00000000 DT_SIZE_K(64)>;
    };
    slot0_partition: partition@10000 {
      label = "image-0";
      reg = <0x00010000 DT_SIZE_K(448)>;
    };
    // Bank 2
    // !! Beware there is a 512kB empty space between end of Bank 1 and start
    //  of Bank 2. Banks are design with a 2MB FLASH area in mind.
    slot1_partition: partition@80000 {
      label = "image-1";
      reg = <0x00100000 DT_SIZE_K(448)>;
    };
    storage_partition: partition@f0000 {
      label = "storage";
      reg = <0x00170000 DT_SIZE_K(64)>;
    };
  };
};

zephyr_udc0: &usb {
  pinctrl-0 = <&usb_dm_pa11 &usb_dp_pa12>;
  pinctrl-names = "default";
  status = "okay";
};

&vref {
  status = "okay";
};

&vbat {
  status = "okay";
};

&clk_lsi {
  status = "okay";
};

stm32_lp_tick_source: &lptim4 {
  clocks = <&rcc STM32_CLOCK_BUS_APB3 0x2000>,
     <&rcc STM32_SRC_LSI LPTIM4_SEL(4)>;
  status = "okay";
};
