
config BOARD_CUSTOMBOARD
	select SOC_STM32H562XX if BOARD_CUSTOMBOARD_STM32H562XX || BOARD_CUSTOMBOARD_STM32H562XX_NS
	select SOC_NRF9151_LACA if BOARD_CUSTOMBOARD_NRF9151 || BOARD_CUSTOMBOARD_NRF9151_NS
